<component name="ArtifactManager">
  <artifact type="war" name="spring_web_params:war">
    <output-path>$PROJECT_DIR$/spring_web_params/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring_web_params</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring_web_params-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring_web_params:war exploded" />
    </root>
  </artifact>
</component>